version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - '4000:4000'
    volumes:
      - ./backend:/usr/src/app
    command: npm run dev
    environment:
      - NODE_ENV=development

  frontend:
    build: ./frontend
    ports:
      - '5173:80'
    depends_on:
      - backend
    environment:
      - NODE_ENV=development
